<div class="jumbotron">
            <h3 class="display-4 titulo p-2">Ingrese categoria y pais</h3>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form (ngSubmit)="buscarNoticias()">
                        <div class="form-group mb-2">
                            <label for="categoria" class="form-label">Categoria</label>
                            <select name="categoria" [(ngModel)]="categoriaSeleccionada" class="form-select form-select-lg" id="categoria">
                              <option [value]="categoria.value" *ngFor="let categoria of categorias">{{categoria.name}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="pais" class="form-label">Pais</label>
                            <select name="pais" [(ngModel)]="paisSeleccionado" class="form-select mb-4 form-select-lg" id="pais">
                              <option [value]="pais.value" *ngFor="let pais of paises" >{{pais.name}}</option>
                            </select>
                          </div>
                          <div class="d-grid gap-2 mb-4">
                            <button class="btn btn-lg btn-primary" type="submit">Buscar noticias</button>
                          </div>
                    </form>
                </div>
            </div>
</div>