<div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mb-2">
    <div *ngFor="let noticia of listadoNoticias" class="col">
        <div class="card h-100">
            <img [src]="noticia.image"class="card-img-top" alt="noticias">
            <div class="card-body">
              <h5 class="card-title">{{noticia.title}}</h5>
              <p class="card-text">{{noticia.description}}</p>
              <div class="d-grid gap-2 mb-4">
                <a [href]="noticia.url" target="_blank" class="text-center">Ver noticia</a>
              </div>
            </div>
        </div>
    </div>
</div>

